form {
  max-width: 400px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 18px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #740300;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

button:hover:not(:disabled) {
  background-color: #e58e31;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.password-wrapper input {
  padding-right: 45px;
  margin-bottom: 0;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(calc(-50% + 12px));
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.toggle-password i {
  width: 20px;
  height: 20px;
  color: #333;
  stroke: #333;
}

.toggle-password:hover i {
  color: #740300;
  stroke: #740300;
}

.forgot {
  margin-top: 20px;
  color: #740300;
  display: block;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.register {
  margin-top: 20px;
  color: #740300;
  display: block;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.forgot:hover {
  color: black;
}

.register:hover {
  color: black;
}

.error-message {
  color: #b00020;
  background-color: #fdecea;
  border: 1px solid #f5c2c7;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  display: block;
  text-align: center;
}

.error1{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background-color: blue;
  color: white;
  padding: 15px;
}