@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


/* HEADER */
header {
  background-color: #740300;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* FORMULÁRIO CENTRALIZADO */
form {
  max-width: 400px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Espaçamento entre os campos */
form div {
  margin-bottom: 15px;
  margin-right: 18px;
}

h2{
  font-weight: 600;
  font-size: 28px;
}

h3{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}

h4{
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;

}

/* Labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #3f51b5; /* azul moderno */
  outline: none;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background-color: #740300;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 20px auto 0 auto;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #e58e31;
}

/* Mensagem de feedback */
p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

p.error {
  color: red;
}
